@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

body {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
  padding: 30px;
  
  background-image: url("https://source.unsplash.com/1920x1080/daily");
  background-position: bottom;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchBar {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.45);
  width: 45%;
  height: 50px;
  padding: 14px;
  margin-bottom: 70px;

  border-radius: 16px;
  box-shadow: 0 5px rgba(0,0,0,0.25);
  font-size: 20px;

  transition: 0.33s ease;
}

.searchBar:hover {
  background-color: rgba(255,255,255,0.95);
}

.searchBar:focus {
  background-color: rgba(255,255,255,0.95);
}

.searchBar::placeholder {
  color: rgba(255,255,255,0.4);
  text-shadow: 1px 1px rgba(0,0,0,0.4);
}

.welcome h1 {
  font-size: 46px;
  padding: 5px;
  margin-bottom: 42px;
  
  color: white;
  text-shadow: 2px 3px rgba(0,0,0,0.66);
}

.time {
  margin-bottom: 12px;
}

.time span {
  font-size: 48px;
  font-weight: 600;

  color: white;
  text-shadow: 2px 4px rgba(0,0,0,0.66);
}

.date span {
  font-size: 34px;
  font-weight: 500;

  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.66);
}

.changeName {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.changeName button {
  /* appearance: none; */
  background-color: rgba(255,255,255,0.66);
  border: none;
  outline: none;
  
  border-radius: 15px;
  padding: 8px;
}